html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: black;
    color: #eeeeee;
}

#container {
    display: flex;
    width: 90%;
    max-width: 1000px;
    height: 75%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #111111;
}

.card {
    margin: 10px;
    border: solid 2px #93a7e1;
}

.column {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.row {
    height: 50%;
}

.text-center {
    text-align: center;
}